@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
}

header {
    padding: 2rem;
    background-color: #770077;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 70px;
}

#search {
    background-color: #550055;
    color: white;
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 10px;
    border: 0;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#search::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #990099;
}


footer {
    padding: 2rem;
    background-color: #770077;
    display: flex;
    justify-content: center;
}

.botonPag {
    margin: 1rem;
    padding: 1rem;
    background-color: #550055;
    color: white;
    border: 0;
    border-radius: 20px;
    font-size: 1.1rem;
}

.botonPag:hover {
    background-color: #990099;
}

.botonPag:active {
    background-color: #BB00BB;
}

#pagina {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1rem;
    background-color: #550055;
    border-radius: 20px;
}

input[type="checkbox"] {
    color: white;
    display: none;
}
  
label {
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
}
  
label::before {
    color: white;
    content: "\2630";
}

#menu {
    display: none;
}
  
#menu.show {
    display: block;
}

#menuLabel {
    padding: 20px;
    border-radius: 20px;
}

#menuLabel:hover {
    background-color: #BB00BB;
}

a {
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #550055;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 20px;

}

a:hover {
    background-color: #990099;
}

a:active {
    background-color: #BB00BB;
}

li {
    list-style: none;
}

ul {
    display: flex;
    padding: 50px 30px;
    background-color: #660066;
    margin: 0;

}